.popup__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 0 36px 37px;
}

@media screen and (max-width: 880px) {
  .popup__form {
    width: 238px;
    margin: 27px 22px 25px;
  }
}